/* CSS declarations go here */
.btn {
    margin-bottom: 15px;
}

.center-content {
    display:flex;
    justify-content:center;
    align-items:center;
 /*width: 50%;
 /*margin: 0px auto 0px auto*/
}